.update-venda-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 1s ease;
}

.venda-container {
  padding: 10px;
}

.update-venda-card {
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.update-venda-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.update-venda-card-header {
  color: #fff;
  background-color: #004F98;
  border-radius: 15px 15px 0 0;
  text-align: center;
  padding: 15px;
}

.update-venda-card-header h4 {
  margin: 0;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-venda-card-body {
  padding: 20px;
}

.venda-form-label {
  color: #004F98;
  font-weight: bold;
  padding-left: 7px;
}

.venda-form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s;
  color: #1684BF;
  margin-top: 10px;
}

.form-control::placeholder{
  color: #1684BF;
}

.form-control:focus {
  border-color: #1684BF;
  box-shadow: none;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.form-control-custom {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s;
  color: #1684BF;
  margin-left: 10px;
}

.form-control-custom:focus {
  box-shadow: none;
  color: #1684BF;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875rem;
}

.btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #1684BF;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.update-venda-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-venda-alert {
  margin-top: 10px;
  color: #004F98;
}

.alert-error {
  padding: 7px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb !important;
  color: #721c24 !important;
  margin-bottom: 10px;
}

.alert-success {
  padding: 7px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724 !important;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .update-venda-card {
      margin: 20px;
  }
}
