.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo-container {
    margin-bottom: 20px;
}

.viper-logo {
    width: 150px;
    height: auto;
}

.card-custom {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    background-color: #fff;
}

.card-header-custom {
    border-radius: 15px 15px 0 0;
    text-align: center;
    background-color: #004F98 !important;
}

.card-header-custom h4 {
    color: #fff;
    font-size: 1.75rem;
    text-align: center;
    padding: 7px;
}

.form-label {
    color: #004F98;
}

.form-control-custom {
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ced4da !important;
    transition: border-color 0.3s;
    color: #1684BF !important;
}

.form-control-custom:focus {
    box-shadow: none;
    color: #1684BF;
}

.button-custom {
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #1684BF !important;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.button-custom:hover {
    background-color: #0056b3 !important;
}

.button-back {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.forgot-password {
    text-decoration: underline;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-align: right;
}

.forgot-password a {
    color: #1684BF;
    text-decoration: none;
}

.additional-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.additional-links a {
    color: #1684BF;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.back-login {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.back-login a {
    color: #1684BF;
    font-size: 0.9rem;
    text-decoration: none;
}

.back-login a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
}

.form-control-custom {
    padding-right: 3rem;
    margin-bottom: 17px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: none;
    color: #0056b3 !important;
}

.password-toggle:hover {
    cursor: pointer;
}

@media (max-width: 430px) {
    .custom-table th, .custom-table td {
        padding: 10px;
    }
}
