.configuracoes-container {
    padding: 20px;
  }
  
  .config-options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .config-options button {
    padding: 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .config-options button:hover {
    background-color: #388e3c;
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  