.footer {
  background-color: #343a40;
  padding: 10px 0;
  text-align: center;
  border-top: 5px solid #0056b3;
  width: 100%;
  animation: var(--fade-in);
}

.footer p {
  margin: 5px 0;
  color: var(--text-light);
  font-size: 14px;
  font-weight: bold;
}
