.fornecedor-div {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideIn 1s ease;
    margin-top: 20px;
}

.fornecedor-container {
    padding: 10px;
}

.fornecedor-card {
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fornecedor-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.fornecedor-card-header {
    color: #fff;
    background-color: #004F98;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 15px;
}

.fornecedor-card-header h4 {
    margin: 0;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fornecedor-card-body {
    padding: 20px;
}

.fornecedor-form-label {
    color: #004F98;
    font-weight: bold;
    padding-left: 7px;
    font-size: 16px;
}

.fornecedor-form-group {
    margin-bottom: 20px;
}

.fornecedor-form-control-nome-custom {
    margin-top: 5px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
    color: #1684BF;
    font-size: 14px;
}

.fornecedor-form-control-nome-custom::placeholder{
    color: #1684BF;
}

.fornecedor-form-control-nome-custom:focus {
    border-color: #1684BF;
    box-shadow: none;
}

.fornecedor-form-control-nome-custom.is-invalid {
    border-color: #dc3545;
}

.fornecedor-form-control-percentual-custom {
    width: 47%;
    margin-left: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
    color: #1684BF;
    font-size: 14px;
}

.fornecedor-form-control-percentual-custom::placeholder{
    color: #1684BF;
}

.fornecedor-form-control-percentual-custom:focus {
    border-color: #1684BF;
    box-shadow: none;
}

.fornecedor-form-control-percentual-custom.is-invalid {
    border-color: #dc3545;
}

.fornecedor-form-control-custom {
    margin-left: 10px;
    width: 60%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
    color: #1684BF;
    font-size: 14px;
}

.fornecedor-form-control-custom::placeholder{
    color: #1684BF;
}

.fornecedor-form-control-custom:focus {
    border-color: #1684BF;
    box-shadow: none;
}

.fornecedor-form-control-custom.is-invalid {
    border-color: #dc3545;
}

.fornecedor-invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
}

.fornecedor-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #1684BF;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.fornecedor-btn:hover {
    background-color: #0056b3;
}

.fornecedor-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fornecedor-alert {
    margin-top: 10px;
    color: #004F98;
}

.fornecedor-alert-error {
    padding: 7px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    margin-bottom: 15px;
  }
  
  .fornecedor-alert-success {
    padding: 7px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    margin-bottom: 15px;
  }

  .fornecedor-button-container {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #1684BF;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
    }

    .fornecedor-button-container:hover {
        background-color: #0056b3;
    }

@media (max-width: 768px) {
    .fornecedor-card {
        margin: 20px;
    }
}
