.table-container {
    margin: auto;
    padding: 5px;
    max-width: 100%;
    animation: slideIn 1s ease;
  }
  
  .header-section {
    color: #004F98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .custom-table {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 15px;
  }
  
  .custom-table th, .custom-table td {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    border: 1px solid #dee2e6;
  
  }
  
  .custom-table th {
      background-color: #004F98;
      color: white;
      font-size: 18px;
  }
  
  .custom-table td {
    color: #1a1a1a;
  }
  
  .custom-table tr:hover {
      background-color: #f1f1f1;
  }
  
  .custom-button {
      background-color: #004F98;
      color: white;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      transition: transform 0.3s ease;
      font-size: 1.0rem;
  }
  
  .custom-button:hover {
    transform: scale(1.05);
  }
  
  .alert-error {
    padding: 7px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb !important;
    color: #721c24 !important;
  }
  
  .alert-success {
    padding: 7px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724 !important;
  }
  
  @media (max-width: 768px) {
      .header-section h2 {
          font-size: 24px;
      }
  
      .custom-button {
          padding: 8px 15px;
          font-size: 14px;
      }
  
      .custom-table th, .custom-table td {
          padding: 10px;
          font-size: 14px;
      }
  }
  