* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #fff;
  font-size: 16px;
}

a {
  color: #004F98;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #004F98;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

button {
  color: #1e1e2d;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
