.header {
  background-color: #ffffff;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  margin: 0px 10px 0px 10px;
  width: 130px;
  transition: transform 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}

.header-nav a {
  color: #004F98;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.header-nav a:hover {
  color: #1684BF;
  transform: scale(1.1);
}

.header-nav .custom-dropdown a {
  color: #004F98;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 15px;
}

.header-nav .custom-dropdown a:hover {
  color: #1684BF;
  transform: scale(1.1);
}

.user-avatar-container {
  position: relative;
  margin-left: auto;
}

.user-initials-icon {
  width: 40px;
  height: 40px;
  background-color: #081a89;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  margin-right: 10px;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}

.user-initials-icon:hover {
  transform: scale(1.1);
}

.custom-user-dropdown-menu {
  margin-top: 5px;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #34495e;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  padding: 10px;
  min-width: 220px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.7s ease;
}

.custom-user-dropdown-menu .dropdown-item {
  color: #ecf0f1;
  font-size: 1rem;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.custom-user-dropdown-menu .dropdown-item:hover {
  background-color: #1684BF;
  color: #fff;
  border-radius: 5px;
}

.dropdown-user-info {
  padding: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.dropdown-user-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #bdc3c7;
}

.vendas-link {
  color: #004F98;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.vendas-link:hover {
  color: #1684BF;
  transform: scale(1.1);
}

.custom-vendas-dropdown-menu {
  margin-top: 10px;
  margin-left: -10px;
  position: absolute;
  background-color: #34495e;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  padding: 5px;
  min-width: 180px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.7s ease;
}

.custom-vendas-dropdown-menu .dropdown-item {
  color: #ecf0f1;
  font-size: 1rem;
  padding: 10px 10px;
  transition: transform 0.3s, filter 0.3s;
}

.custom-vendas-dropdown-menu .dropdown-item:hover {
  /* background-color: #1684BF; */
  color: #fff;
  border-radius: 5px;
}

.caret-icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.caret-icon.open {
  transform: rotate(180deg);
}
