.home-container {
  text-align: center;
  background-color: #f8f9fa;
  color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 5px 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease;
}

.viper-logo {
  width: 150px;
  transition: transform 0.3s, filter 0.3s;
}

.viper-logo:hover {
  transform: scale(1.1);
  filter: brightness(0.9);
}

.home-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;

  & button {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #004F98;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  & button:hover{
    background-color: #0056b3;
    transform: scale(1.05);
  }
}

.home-header {
  margin-bottom: 30px;
  
  & h1 {
    font-size: 2rem;
    color: #004F98;
    animation: slideIn 1s ease;
    margin-bottom: 15px;
  }

  & h4 {
    animation: slideIn 1s ease;
  }

}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  animation: slideIn 1s ease;
}

.feature {
  width: 30%;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #1684BF;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); }
  to { transform: translateY(0); }
}
