.perfil-container {
    padding: 20px;
  }
  
  .perfil-info label {
    font-weight: bold;
    margin-top: 20px;
    display: block;
  }
  
  .perfil-info p, .perfil-info input {
    margin: 10px 0;
  }
  
  .perfil-info input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ddd;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  