.reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    animation: fadeIn 1s ease;
}

.reset-logo-container {
    margin-bottom: 10px;
}

.reset-viper-logo {
    width: 150px;
    height: auto;
    transition: transform 0.3s, filter 0.3s;
}

.reset-viper-logo:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

.reset-card-custom {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #fff;
}

.reset-card-header-custom {
    color: #fff;
    background-color: #004F98;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 20px;
}

.reset-card-header-custom h4 {
    margin: 0;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-card-body {
    padding: 15px;
}

.reset-form-label {
    color: #004F98;
    font-weight: bold;
    padding-left: 10px;
}

.reset-form-control-custom {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
    font-size: 15px;
    color: #1684BF;
}

.reset-form-control-custom::placeholder {
    color: #1684BF;
}

.reset-form-control-custom:focus {
    border-color: #1684BF;
    box-shadow: none;
}

.reset-email-container {
    padding: 5px 10px;
    position: relative;
}

.reset-password-container {
    padding: 5px 10px;
    position: relative;
}

.reset-password-toggle {
    position: absolute;
    top: 48%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
    background: transparent;
    border: none;
    color: #0056b3;
}

.reset-password-toggle:hover {
    cursor: pointer;
}

.reset-button-custom {
    width: 100%;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #1684BF;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.reset-button-custom:hover {
    background-color: #0056b3;
}

.reset-forgot-password {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.reset-forgot-password a {
    color: #1684BF;
    text-decoration: none;
    text-decoration: underline;
}

.reset-back-login {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.reset-back-login a {
    color: #1684BF;
    font-size: 0.8rem;
    text-decoration: none;
}

.reset-back-login a:hover {
    text-decoration: underline;
}

.reset-alert-custom-error {
    margin-bottom: 15px;
    text-align: center;
    padding: 7px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb !important;
    color: #721c24 !important;
}

.reset-alert-custom-success {
    margin-bottom: 15px;
    text-align: center;
    padding: 7px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724 !important;
}

@media (max-width: 430px) {
    .form-control-custom {
        padding: 10px;
    }
}
